body {
    background-color: #ffffff;
    background-image: ("https://preview.ibb.co/hwm6Ux/IMG_5044.jpg")
}

h1, p {
    color: pink;
}

div {
	width: 150px;
	height: 150px;
	border: 2px solid black;
	display: inline-block;
	margin: 20px;
	
}

#name {
	background: black;
	position: relative;
    left: 30px;
    color: #ffffff;
}

#infocardbg {
	background: black;
	position: relative;
    left: 320px;
    top: 300px;
    width: 2000px;
    height: 2000px;
}
