body {
    background: #ffffff;
}

h2 {
    font-family: Times New Roman;
    padding-left: 20px;
    font-size: 50px; }

   h4 {
    font-family: Times New Roman;
    padding-left: 20px;
    font-size: 500px; 
	color: #ffffff;}

p { 
	font-family: Helvetica; 
	padding-left: 20px;
	font-size: 20px;
    letter-spacing: -1px;
}

#heroimage {
	background: white;
	position: relative;
    left: 620px;
    top: 0px;
    width: 800px;
    height: 625px;
    color: #000000;
    font-family: Helvetica;
    border: 0px solid black;
    border-radius: 5px;
}

#infocardbg {
	background: white;
	position: relative;
    left: 620px;
    top: 10px;
    width: 800px;
    height: 625px;
    color: #000000;
    font-family: Helvetica;
    border: 2px solid black;
    border-radius: 5px;
}

.img-circle {
    border-radius: 1200px;
    padding: 0px; 
    width: 40%;
  	position: relative;
    left: 30px;
    top: 50px;
}

.img-rect {
    padding: 0px; 
    width: 100%;
  	position: relative;
  	border: 2px black solid;
  	border-radius: 5px;
 
}